.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
  }
  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
  } 

  ul.theList {
    padding: 0;
  }

  .todoListMain .theList li {
    color: #fff;
    background-color: rgba(255, 141, 185, 0.459)5);
    border:1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }
   
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }

  .mainContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFF transparent 10%;
  }
  .innerContainer{
    border:1px solid #fff;
    padding:40px;
    min-height: 100vh;
  }
  